*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --row-width: calc(100vw);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 2em 0;
  background: radial-gradient(100% 100% at 50% 49.95%, #4A5466 0%, #262E3B 44%, #1D2430 100%);
  overflow: hidden;
}

h1, h2, h3, h4 {
  color: #F3F4F7;
  font-family: 'Open Sans',sans-serif;
}

.row {
  background: #13171F;
  -webkit-box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.22);
  font-size: 35px;
  margin: 0 0 2em 0;
  padding-bottom: .8em;
  width: var(--row-width);
}

.row h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  margin: 0;
  padding: .6em;
  margin-left: 1.6em;
}

.row .timeLine {
  position: relative;
  height: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row .timeLine .arrow-left {
  position: absolute;
  left: .4em;
  top: calc(50% - 1.85em);
  height: 3.7em;
}

.row .timeLine .arrow-left .arrow {
  stroke: #616161;
}

.row .timeLine .arrow-left .arrow-light {
  stroke: #F3F4F7;
}

.row .timeLine .arrow-right {
  position: absolute;
  right: .4em;
  top: calc(50% - 1.85em);
  height: 3.7em;
}

.row .timeLine .arrow-right svg {
  width: 0.9em;
}

.row .timeLine .arrow-right svg .arrow {
  stroke: #616161;
}

.row .timeLine .arrow-right svg .arrow-light {
  stroke: #F3F4F7;
}

.row .head {
  position: relative;
  height: 100%;
  width: calc(100% - 2.8em);
  overflow-x: auto;
  overflow-y: hidden;
  cursor: -webkit-grab;
  cursor: grab;
}

.row .head .lines {
  height: 75%;
  width: calc(((var(--row-width) - 2.8em) / var(--hours-on-screen))*(24*var(--daysRendered)));
}

.row .head .lines .line-wrap {
  width: 100%;
  height: 25%;
  text-align: center;
  display: block;
  position: relative;
}

.row .head .lines .line-wrap hr {
  position: absolute;
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  top: 50%;
  border-color: rgba(47, 59, 77, 0.46);
  background-color: rgba(47, 59, 77, 0.46);
}

.row .head .lines .line-wrap > div {
  position: absolute;
  height: .7em;
  top: .44em;
}

.row .head .lines .pause > div {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#624d17), color-stop(#685115), color-stop(#6e5413), color-stop(#745811), to(#7a5c0e));
  background-image: linear-gradient(to right top, #624d17, #685115, #6e5413, #745811, #7a5c0e);
}

.row .head .lines .login > div {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#178322), color-stop(#398822), color-stop(#508d24), color-stop(#639127), to(#75962c));
  background-image: linear-gradient(to right top, #178322, #398822, #508d24, #639127, #75962c);
}

.row .head .lines .pos-0 > div, .row .head .lines .pos-1 > div {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#25228b), color-stop(#1f1d92), color-stop(#191699), color-stop(#110da0), to(#0500a6));
  background-image: linear-gradient(to right top, #25228b, #1f1d92, #191699, #110da0, #0500a6);
}

.row .head::-webkit-scrollbar {
  display: none;
}

.row .tail {
  height: 25%;
  width: calc(((var(--row-width) - 2.8em) / var(--hours-on-screen))*(24*var(--daysRendered)));
}

.row .tail div {
  display: block;
  position: relative;
  float: left;
  height: 100%;
  width: calc((var(--row-width) - 2.8em) / var(--hours-on-screen));
}

.row .tail div .l {
  margin: 0;
  width: 1px;
  position: absolute;
  top: 0;
  border-color: rgba(140, 140, 140, 0.38);
  background-color: rgba(140, 140, 140, 0.38);
}

.row .tail div .l0 {
  width: 100%;
  left: 0;
  height: 1px;
  right: 0;
}

.row .tail div .l1 {
  top: 2px;
  height: 50%;
  left: 0px;
}

.row .tail div .l2 {
  height: 20%;
  left: 25%;
  top: 2px;
}

.row .tail div .l3 {
  height: 30%;
  left: 50%;
  top: 2px;
}

.row .tail div .l4 {
  height: 20%;
  left: 75%;
  top: 2px;
}

.row .tail div .l5 {
  height: 50%;
  left: 100%;
  top: 2px;
}

.row .tail div::before {
  content: attr(data-content);
  color: #F3F4F7;
  position: absolute;
  font-size: .9em;
  bottom: .2em;
  left: -0.4em;
  width: .9em;
  height: .9em;
}
/*# sourceMappingURL=main.css.map */