*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans',sans-serif;
}

:root {
  --row-width: calc(100vw);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 2em 0;
  background: radial-gradient(100% 100% at 50% 49.95%, #4A5466 0%, #262E3B 44%, #1D2430 100%);
  overflow: hidden;
}

h1, h2, h3, h4 {
  color: #F3F4F7;
  font-family: 'Open Sans',sans-serif;
}

.row {
  background: #13171F;
  -webkit-box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.22);
  font-size: 35px;
  margin: 0 0 2em 0;
  padding-bottom: .8em;
  width: var(--row-width);
}

.row h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  margin: 0;
  padding: .6em;
  margin-left: 1.6em;
}

.row .timeLine {
  position: relative;
  height: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row .timeLine hr.pointer {
  width: 1px;
  height: calc(8em - 25%);
  left: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
  border: 1px dashed #ffffff2e;
}

.row .timeLine div.pointer-text {
  font-size: 0.4em;
  color: #a2a2a2;
  position: absolute;
  top: -10%;
  font-family: 'Open Sans',sans-serif;
}

.row .timeLine .arrow-left {
  position: absolute;
  left: .4em;
  top: calc(50% - 1.85em);
  height: 3.7em;
}

.row .timeLine .arrow-left .arrow {
  stroke: #616161;
}

.row .timeLine .arrow-left .arrow-light {
  stroke: #F3F4F7;
}

.row .timeLine .arrow-right {
  position: absolute;
  right: .4em;
  top: calc(50% - 1.85em);
  height: 3.7em;
}

.row .timeLine .arrow-right svg {
  width: 0.9em;
}

.row .timeLine .arrow-right svg .arrow {
  stroke: #616161;
}

.row .timeLine .arrow-right svg .arrow-light {
  stroke: #F3F4F7;
}

.row .head {
  position: relative;
  height: 100%;
  width: calc(100% - 2.8em);
  overflow-x: auto;
  overflow-y: hidden;
  cursor: -webkit-grab;
  cursor: grab;
}

.row .head .lines {
  height: 75%;
  width: calc(((var(--row-width) - 2.8em) / var(--hours-on-screen))*(24*var(--daysRendered)));
}

.row .head .lines .line-wrap {
  width: 100%;
  height: 25%;
  text-align: center;
  display: block;
  position: relative;
}

.row .head .lines .line-wrap hr {
  position: absolute;
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  top: 50%;
  border-color: rgba(47, 59, 77, 0.46);
  background-color: rgba(47, 59, 77, 0.46);
}

.row .head .lines .line-wrap > div {
  position: absolute;
  height: .7em;
  top: .44em;
}

.row .head .lines .line-wrap > div div.relative-part {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: help;
  position: relative;
}

.row .head .lines .line-wrap > div div.relative-part div.order-text {
  font-size: .4em;
  height: auto;
  font-family: 'Open Sans',sans-serif;
  text-align: center;
  color: #F3F4F7;
}

.row .head .lines .line-wrap > div div.relative-part .tooltip {
  position: absolute;
  width: 15em;
  z-index: 2000;
  height: 6em;
  font-size: .4em;
  top: .5em;
  background: -webkit-gradient(linear, left top, left bottom, from(#2d3644), color-stop(40%, #363f4f), color-stop(150%, #313948)), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), color-stop(200%, rgba(0, 0, 0, 0.25)));
  background: linear-gradient(to bottom, #2d3644 0%, #363f4f 40%, #313948 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  color: #F3F4F7;
  -webkit-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.32);
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.32);
  border-radius: 7%;
}

.row .head .lines .line-wrap > div div.relative-part .tooltip h4 {
  margin: .7em;
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: .4em;
}

.row .head .lines .line-wrap > div div.relative-part .tooltip hr {
  width: 90%;
  margin: auto;
  position: relative;
  top: unset;
  margin: 0 auto;
  border-color: #F3F4F7;
  background-color: #F3F4F7;
}

.row .head .lines .line-wrap > div div.relative-part .tooltip span {
  font-size: .8em;
}

.row .head .lines .line-wrap > div div.relative-part .tooltip p {
  text-align: start;
  padding-left: 4%;
}

.row .head .lines .line-wrap > div div.relative-part .tooltip p em {
  font-size: .8em;
  color: #a0a4a5;
}

.row .head .lines .line-wrap > div div.relative-part .too-login {
  top: -3.2em;
}

.row .head .lines .line-wrap > div div.relative-part .tool-pause {
  height: 10em;
}

.row .head .lines .line-wrap > div div.relative-part .tool-res {
  height: 11em;
}

.row .head .lines .line-wrap > div div.relative-part .tool-operation {
  height: 12.5em;
}

.row .head .lines .line-wrap > div div.relative-part .tool-workplace {
  top: -8.2em;
  height: 9em;
}

.row .head .lines .pause > div {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#781e4b), color-stop(#721e47), color-stop(#6b1d44), color-stop(#651d40), to(#5f1c3d));
  background-image: linear-gradient(to right top, #781e4b, #721e47, #6b1d44, #651d40, #5f1c3d);
}

.row .head .lines .pause > div:hover {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#591939), color-stop(#78204b), color-stop(#5f2140), color-stop(#72284c), to(#85114a));
  background-image: linear-gradient(to right top, #591939, #78204b, #5f2140, #72284c, #85114a);
}

.row .head .lines .login > div {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#178322), color-stop(#398822), color-stop(#508d24), color-stop(#639127), to(#75962c));
  background-image: linear-gradient(to right top, #178322, #398822, #508d24, #639127, #75962c);
}

.row .head .lines .login > div:hover {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#125f1a), color-stop(#40842c), color-stop(#568f2e), color-stop(#77be1b), to(#73942b));
  background-image: linear-gradient(to right top, #125f1a, #40842c, #568f2e, #77be1b, #73942b);
}

.row .head .lines .login div.workplace-login {
  z-index: 9;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#7e8e2f), color-stop(#7d8d32), color-stop(#7b8c35), color-stop(#7a8a37), color-stop(#79893a), color-stop(#778838), color-stop(#768737), color-stop(#748635), color-stop(#72852f), color-stop(#708528), color-stop(#6e8420), to(#6c8317));
  background-image: linear-gradient(to right top, #7e8e2f, #7d8d32, #7b8c35, #7a8a37, #79893a, #778838, #768737, #748635, #72852f, #708528, #6e8420, #6c8317);
}

.row .head .lines .login div.workplace-login:hover {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#99a94c), color-stop(#7d8d32), color-stop(#7b8c35), color-stop(#7a8a37), color-stop(#79893a), color-stop(#8e9e54), color-stop(#768737), color-stop(#748635), color-stop(#72852f), color-stop(#708528), color-stop(#6e8420), to(#87a220));
  background-image: linear-gradient(to right top, #99a94c, #7d8d32, #7b8c35, #7a8a37, #79893a, #8e9e54, #768737, #748635, #72852f, #708528, #6e8420, #87a220);
}

.row .head .lines .pos-0 > div, .row .head .lines .pos-1 > div {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#2387aa), color-stop(#1380ab), color-stop(#0b78ac), color-stop(#1471ac), to(#2368aa));
  background-image: linear-gradient(to right top, #2387aa, #1380ab, #0b78ac, #1471ac, #2368aa);
}

.row .head .lines .pos-0 > div:hover, .row .head .lines .pos-1 > div:hover {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#00b8f8), color-stop(#0499d3), color-stop(#0991d1), color-stop(#1471ac), to(#095cab));
  background-image: linear-gradient(to right top, #00b8f8, #0499d3, #0991d1, #1471ac, #095cab);
}

.row .head .lines .pos-0 div.operation, .row .head .lines .pos-1 div.operation {
  z-index: 912;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#2334aa), color-stop(#1362ab), color-stop(#0b53ac), color-stop(#1458ac), to(#28547d));
  background-image: linear-gradient(to right top, #2334aa, #1362ab, #0b53ac, #1458ac, #28547d);
}

.row .head .lines .pos-0 div.operation:hover, .row .head .lines .pos-1 div.operation:hover {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#434fa8), color-stop(#2d70ae), color-stop(#2c68b2), color-stop(#2968b6), to(#28547d));
  background-image: linear-gradient(to right top, #434fa8, #2d70ae, #2c68b2, #2968b6, #28547d);
}

.row .head::-webkit-scrollbar {
  display: none;
}

.row .tail {
  height: 25%;
  width: calc(((var(--row-width) - 2.8em) / var(--hours-on-screen))*(24*var(--daysRendered)));
}

.row .tail div {
  display: block;
  position: relative;
  float: left;
  height: 100%;
  width: calc((var(--row-width) - 2.8em) / var(--hours-on-screen));
}

.row .tail div .l {
  margin: 0;
  width: 1px;
  position: absolute;
  top: 0;
  border-color: rgba(140, 140, 140, 0.38);
  background-color: rgba(140, 140, 140, 0.38);
}

.row .tail div .l0 {
  width: 100%;
  left: 0;
  height: 1px;
  right: 0;
}

.row .tail div .l1 {
  top: 2px;
  height: 50%;
  left: 0px;
}

.row .tail div .l2 {
  height: 20%;
  left: 25%;
  top: 2px;
}

.row .tail div .l3 {
  height: 30%;
  left: 50%;
  top: 2px;
}

.row .tail div .l4 {
  height: 20%;
  left: 75%;
  top: 2px;
}

.row .tail div .l5 {
  height: 50%;
  left: 100%;
  top: 2px;
}

.row .tail div::before {
  content: attr(data-content);
  color: #F3F4F7;
  position: absolute;
  font-size: .5em;
  bottom: 1em;
  left: -0.4em;
  width: .7em;
  text-align: center;
  height: .7em;
  font-family: 'Open Sans',sans-serif;
}

#controll div.percentage {
  color: white;
  font-size: 2rem;
}
/*# sourceMappingURL=main.css.map */