// ================================
// General styles
// ================================
*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    --row-width: calc(100vw);
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 2em 0;

    background: radial-gradient(100% 100% at 50% 49.95%, #4A5466 0%, #262E3B 44%, #1D2430 100%);
    overflow: hidden;
}

h1,h2,h3,h4{
    color: #F3F4F7;
    font-family: 'Open Sans',sans-serif;
}


// ================================
// Row
// ================================
.row{
    background: #13171F;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.22);
    font-size: 35px;
    margin: 0 0 2em 0;
    padding-bottom: .8em;
    width: var(--row-width);

    // ================================
    // Header of a row
    // ================================
    h1{
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        margin:0;
        padding: .8em;
    }

    // ================================
    // Main timeline block with arrows
    // ================================
    .timeLine{
        position: relative;
        height: 8em;
        display: flex;
        justify-content: center;

        .arrow-left{
            position: absolute;
            left: .4em;
            top: calc(50% - 1.85em);
            height: 3.7em;
            .arrow{
                stroke: #616161;
            }
            .arrow-light{
                stroke: #F3F4F7;
            }
        }

        .arrow-right{
            position: absolute;
            right: .4em;
            top: calc(50% - 1.85em);
            height: 3.7em;
            svg{
                width: 0.9em;
                .arrow{
                    stroke: #616161;
                }
                .arrow-light{
                    stroke: #F3F4F7;
                }
            }
            

        }

        
    }

    // ================================
    // Head of timeline
    // ================================
    .head{
        position: relative;
        height: 100%;
        width: calc(100% - 2.8em);
        overflow-x: auto;
        overflow-y: hidden;
        cursor : grab;

        .lines{
            height: 75%;
            width: calc(((var(--row-width) - 2.8em) / var(--hours-on-screen))*(24*var(--daysRendered)));

            .line-wrap{
                width: 100%;
                height: 25%;
                text-align: center;       
                display: block;
                position: relative;

                hr{
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    margin: 0;
                    padding: 0;
                    top: 50%;
                    border-color: rgba(47, 59, 77, 0.46);
                    background-color: rgba(47, 59, 77, 0.46);
                }

                &>div{
                    position: absolute;
                    width: 1px;
                    height: 1.5em;
                    background-color: blue;
                }

            }
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }

    // ================================
    // Tail of timeline
    // ================================
    .tail{          
        height: 25%;
        width: calc(((var(--row-width) - 2.8em) / var(--hours-on-screen))*(24*var(--daysRendered)));        
        div{
            display: block;
            position: relative;
            float: left;
            height: 100%;          
            width: calc(((var(--row-width) - 2.8em) / var(--hours-on-screen))); 
            
            .l{
                margin: 0;
                width: 1px;
                position: absolute;
                top:0;
                border-color: rgba(140, 140, 140, 0.38);
                background-color: rgba(140, 140, 140, 0.38);
            }

            .l0{
                width: 100%;
                left: 0;
                height: 1px;
                right: 0;
            }

            .l1{
                top:2px; 
                height: 50%;                
                left: 0px;
            }

            .l2{
                height: 20%;                
                left: 25%;
                top:2px;
            }

            .l3{
                height: 30%;                
                left: 50%;
                top:2px;
            }

            .l4{

                height: 20%;           
                left: 75%;
                top:2px;
            }

            .l4{
                height: 50%;                
                left: 100%;
                top:2px;
            }

            svg{
                height: 60%; 
                width: 100%;    
                .fix-line {
                    stroke-width: 0.3%;
                }           
            }
            &::before{
                content: attr(data-content);
                color: #F3F4F7;
                position: absolute;
                font-size: 0.4em;
                bottom: 0.4em;
                left: -0.4em;
                width: .7em;
                height: .7em;
            }            
        }
    }    
}